site_name: EDITO Technical Workshops
site_description: Comprehensive resources and hands-on tutorials for contributing to the European Digital Twin of the Ocean (EDITO) platform
site_url: https://edito-infra.github.io/edito-workshops-presentations/
repo_url: https://github.com/EDITO-Infra/edito-workshops-presentations
repo_name: EDITO-Infra/edito-workshops-presentations
edit_uri: edit/main/docs/

docs_dir: docs/source

# Exclude presentations from MkDocs processing
exclude_docs: |
  presentations/

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil

nav:
  - Home: index.md
  - Add Tutorial:
    - Overview: add_tutorial/README.md
  - Add Service:
    - Overview: add_service/README.md
  - Add Process:
    - Overview: add_process/README.md
  - Explore Data:
    - Overview: explore_data/README.md
  - Using Datalab:
    - Overview: using_datalab/README.md
  - Presentations:
    - Add Tutorial: presentations/add_edito_tutorial_slidedeck.html
    - Add Service: presentations/add_edito_service_slidedeck.html
    - Add Process: presentations/add_edito_process_slidedeck.html
    - Explore Data: presentations/explore_data_slidedeck.html
    - Using Datalab: presentations/using_datalab_slidedeck.html

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/EDITO-Infra
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/EDITO_EU
  version:
    provider: mike
